/* --------- */
/* CSS Reset */
/* --------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------- */
/* Color Variables */
/* --------------- */
:root {
    --myGreen: #39FF14;
    --myDarkGreen: #3E442B;
    --myDarkGray: #1f1f1f;
    --myLightGray: #8D909B;
    --myBlue: #14FFF7;
    --myRed: #E63946;
    --myYellow: #F2AF00;
  }

/* ------ */
/* My CSS */
/* ------ */

html {
    box-sizing:border-box;
    background-color: var(--myDarkGray);
}

body {
    font-family: 'IBM Plex Mono', monospace;
    }

/* *, *:before, *:after {
    box-sizing:inherit;
} */

img {
    max-width: 100%;
}

.Header {
    margin:150px;
    margin-top: 20px;
}

.logo {
    position: absolute;
    top: 50px;
}

.logoText {
    position: inherit;
    margin: 0px;
    font-size: 45pt;
    font-weight: 200;
    color: var(--myGreen);
    top: 5px;
    left: 25px;
    letter-spacing: 12px;
    
    
}

.navbar {
    font-size: large;
    text-align: center;
    color: var(--myGreen);
    display: inline-block;
    margin-top: 80px;
    margin-left: 25vw;
    margin-bottom: 100px;
    position: sticky
}

li {
    width: auto;
    display: inline-block;
    color: var(--myGreen);
    font-size: large;
    font-weight: 600;
    text-align: center;
}

.Intro {
    padding: 30px 15%;
    color: white;
    text-align: justify;
    background-color: rgb(21, 21, 21);
    
}

.hero {
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
    font-size: 54pt;
}

.about text{
    font-size: 16pt;
}

.Characters {
    display: inline-block;
}



