/* --------------- */
/* Color Variables */
/* --------------- */
:root {
    --myGreen: #39FF14;
  }


html {
    box-sizing:border-box;
    background-color: black;
}

body {
    font-family: "IBM Plex Mono";
    }

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;
}

.logoText {
    color: var(--myGreen);
    text-align: ;
}

.navbar {
    font-style: italic;
    font-size: large;
    text-align: center;
    color: var(--myGreen);
}

.Intro {
    display: inline-block;

}

.Characters {
    display: inline-block;
}