/* --------- */
/* CSS Reset */
/* --------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------- */
/* Color Variables */
/* --------------- */
:root {
    --myGreen: #39FF14;
    --myDarkGreen: #25281c;
    --myDarkGray: #1f1f1f;
    --myLightGray: #8D909B;
    --myBlue: #14FFF7;
    --myRed: #E63946;
    --myYellow: #F2AF00;
  }

/* ------ */
/* My CSS */
/* ------ */

html {
    box-sizing:border-box;
    background-color: rgb(21, 21, 21);
}

body {
    font-family: 'IBM Plex Mono', monospace;
    }

.red {
    color: var(--myRed);
    background-color: transparent;
}

.yellow {
    color: var(--myYellow);
    background-color: transparent;
}

.blue { 
    color: var(--myBlue);
    background-color: transparent;
}

img {
    max-width: 100%;
}

.Header {
    margin:150px;
    margin-top: 20px;
    padding-bottom: 85px;
}

.logo {
    position: absolute;
    top: 50px;
    padding-left: 30px 22%;
}

.box {
    width:132px;
    height:132px;
    border:2px solid white;
    display: inline-block;
}

.logoText {
    position: inherit;
    margin: 0px;
    font-size: 45pt;
    font-weight: 200;
    color: var(--myGreen);
    top: 5px;
    left: 27px;
    letter-spacing: 12px;
}

.box.fixed-top {
    position: fixed;
    width:66px;
    height:66px;
    border:1px solid white;
    z-index: 20;
    top: 5px;
    margin-left: 30px;
}

.logoText.fixed-top {
    position: fixed;
    margin: 0px;
    margin-left: 30px;
    font-size: 22pt;
    font-weight: 200;
    color: var(--myGreen);
    top: 10px;
    left: 161px;
    letter-spacing: 12px;
    z-index: 10;
}

.navbar {
    font-size: large;
    text-align: center;
    color: var(--myGreen);
    display: inline-block;
    margin-top: 80px;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 3;
}

.navbar a:hover {
    filter: brightness(65%);
 }

.navbar a:visited {
    color: var(--myGreen);
 }


.navbar.fixed-top {
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 0;
    left: 0;
    background-color: rgb(21, 21, 21);
    color: white;
    padding: 32px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    z-index: 9;
    border:1px solid #333333;
}

.navbar.fixed-top a {
    color: var(--myGreen);
}

li {
    width: auto;
    display: inline-block;
    color: var(--myGreen);
    font-size: large;
    font-weight: 600;
    text-align: center;
}

.Intro {
    padding: 30px 32%;
    padding-top: 100px;
    padding-bottom: 80px;
    color: white;
    text-align: justify;
    background-color: var(--myDarkGray);
    
}

.hero {
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
    font-size: 54pt;
}

.aboutText{
    font-size: 14pt;
    line-height: 140%;
    border: 300px;
    border-top: 0;
    border-bottom: 0;
}

.aboutText p{
    margin-bottom: 20px;
}

.Characters {
    padding: 30px 10%;
    padding-top: 100px;
    padding-bottom: 80px;
}

.charactersHeader {
    color: var(--myRed);
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
    font-size: 36pt;
}

.charactersText {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 24pt;
    font-style: normal;
}

.ctTop {
    
}
.ctBot {
    margin-top: 40px;
}

.CharactersDropdown{
    margin-top: 30px;
    text-align: center;
}

.cNumbers {
    margin: 60px;
}

.cSpecial {
    margin-bottom: 60px;
}

.DialogueBox {
    background-color: var(--myDarkGray);
    font-size: 24pt;
    color: white;
    padding: 30px 10%;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.dbHeader {
    color: white;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
    font-size: 36pt;
}

.boomi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-width:3px;
    border-style:solid;
    border-color:#ffffff;
    border-radius: 15px;
    padding-left: 280px;
    padding-right: 280px;
}

.dbText {
    border-width:3px;
    border-style:solid;
    border-color:#ffffff;
    border-radius: 15px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 20%;
    margin-top: 85px;
    margin-bottom: 0;
}

.DialogueBox p {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    line-height: normal;
    animation:
        typing 3.5s steps(40, end);
    }

#dbElipses {
    animation:
        blink-elipses .75s step-end infinite;
}
      
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-elipses {
    from, to { color: transparent }
    50% { color: white; }
}

.wbHeader {
    color: var(--myYellow);
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
    font-size: 36pt;
}

.BodySample {
    padding: 30px 32%;
    padding-top: 100px;
    padding-bottom: 80px;
    color: white;
    text-align: justify;
    background-color: var(--myDarkGray);
}

.bsHeader {
    color: var(--myBlue);
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
    font-size: 36pt;
}

.firstBody {
    margin-bottom: 70px;
    line-height: 120%;
    letter-spacing: 2px;
    grid-area: "a";
}

.splitBodies {
    display: grid;
    grid-gap: 50px;
    grid-template-areas: "a b";
    margin-bottom: 70px;
}

.secondBody {
    line-height: 155%;
    font-size: large;
    grid-area: "a";
    letter-spacing: -1px;
    word-spacing: -6px;
    font-weight: 500;
}

.thirdBody {
    font-size: 14pt;
    word-spacing: -5px;
    line-height: 125%;
    grid-area: "b";
}

.fourthBody {
    font-weight: 400;
    font-size: 16pt;
    word-spacing: -5px;
    line-height: 125%;
    text-align: left;
}

.WordBank {
    padding: 30px 10%;
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
}

.wb1 {
    font-size: 100pt;
    color: white;
}

.wb2 {
    font-size: 100pt;
    color: white;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.wb2metal {
    color: silver;
}

.wb2work {
    color: rgb(94, 94, 94);
}

.wb2work p:hover {
    animation:  shake 0.8s infinite ;

}

@keyframes shake{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(25px);
    letter-spacing: -19px;
  }
    
  50%{
    transform: translateX(-25px);
  }
  100%{
    transform: translateX(0px);
  }
  
}

.wb3 {
    font-size: 100pt;
    color: white;
}

.wb4 {
    font-size: 100pt;
    color: white;
}

.subnormality {
    position: relative;
    display: flex;
    justify-content: center;
}

.subnormality span {
    position: relative;
    display: inline-block;
    color: var(--myBlue);
    font-size: 100pt;
    animation: subjump 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes subjump {
    0% {
        transform: translateY(0px);
        transform: scale(-1, 1);
    }

    20% {
        transform: translateY(-20px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}

.wb5 {
    font-size: 100pt;
    color: yellow;
    display: flex;
    justify-content: center;
}

.wb5clap {
    color: blue;
}

.wb5thund p:hover {
    animation:  shake 0.8s infinite ;

}

@keyframes thunderShake{
    0%{
      transform: translateX(0);
      letter-spacing: -19px;
    }
    25%{
      transform: translateX(25px);
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
      
    }
    
  }